


<div class="content">
  <h1 class="text-4xl line-height-1 sm:text-5xl font-bold border titulos text-center"
   pAnimateOnScroll enterClass="zoomindown animation-duration-1000" >Mapa de cobertura</h1>
  <div class="grid" id="mapa-cobertura">
    <div class="col-12 md:col-5 flex align-items-center" pAnimateOnScroll enterClass="fadeinleft animation-duration-1000">
      <div class="card shadow-6 border-round-3xl p-5 surface-50">
        <h2 class="text-2xl font-bold mb-2 text-cyan-700">¿Nuestros servicios están disponibles en tu zona?</h2>
        <p class="text-sm text-bluegray-700 mb-4">
          Escribe tu <strong class="text-cyan-700">colonia, municipio o coordenadas</strong> para conocer si tenemos cobertura en tu ubicación.
        </p>
        <form [formGroup]="formUbicacion" (ngSubmit)="buscarZonas()" class="flex flex-column gap-2">
          <div>
            <label for="search-input" class="block text-sm text-bluegray-600 mb-1">Ubicación</label>
            <input
              type="text"
              pInputText
              formControlName="ubicacion"
              id="search-input"
              placeholder="Ej: Tianguistenco, 19.017108, -99.403604"
              class="w-full border-blue-200"
            />
          </div>
          <button pButton type="submit" [icon]="progreso ? 'pi pi-spin pi-spinner':'pi pi-search'" [disabled]="progreso"
          label="Buscar" class="w-full" style="background-color: #0ea5e9;"></button>
          <small class="text-blue-900 font-semibold block " *ngIf="!resultadosBusqueda?.length && busquedaActiva && !errorBusqueda">No se encontraron resultados</small>
          <small class="text-red-900 font-semibold block " *ngIf="errorBusqueda && busquedaActiva">Ha ocurrido un error al hacer la búsqueda</small>

          <div *ngIf="resultadosBusqueda?.length" class="bg-blue-50 border-1 border-blue-200 p-3 rounded-md">
            <small class="text-blue-900 font-semibold block mb-2">Resultados sugeridos:</small>
            <div class="flex flex-column gap-2 overflow-scroll" style="max-height: 120px">
              <div *ngFor="let result of resultadosBusqueda; let i = index" class="flex align-items-center gap-2 ">
                <input type="radio" [value]="i" name="location" [id]="'location' + i" (change)="seleccionUbicacion(i)" />
                <label [for]="'location' + i" class="text-xs text-blue-900 cursor-pointer hover:text-primary transition-colors">
                  {{ result.display_name }}
                </label>
              </div>
            </div>
          </div>
        </form>

        <p class="text-xs text-bluegray-500 italic mt-4 border-left-2 pl-3 border-cyan-700">
          *Nota: La disponibilidad mostrada es referencial. Es necesario realizar una validación técnica para confirmar la factibilidad del servicio en tu domicilio.
        </p>
      </div>
    </div>
    <div class="col-12 md:col-7"  pAnimateOnScroll enterClass="fadeinright animation-duration-1000">
      <div class="card shadow-2 border-round overflow-hidden">
        <div id="map" style="height: 580px; width: 100%;"></div>
      </div>
    </div>
  </div>

<div class="flex flex-column align-items-center justify-content-center
 p-5 border-round shadow-2 surface-100 text-center m-5 zoominup animation-duration-1000" *ngIf="verMensaje"
 id="mensaje-cobertura">
  <i
    class="pi"
    [ngClass]="{
      'pi-check-circle text-green-500': cobertura,
      'pi-times-circle text-red-500': !cobertura
    }"
    style="font-size: 4rem;"></i>

  <h2 class="text-2xl font-bold m-0" [ngClass]="{ 'text-green-700': cobertura, 'text-red-700': !cobertura }">
    {{ cobertura ? '¡Exelente noticia!' : 'Lo sentimos, no encontramos cobertura en tu ubicación con el mapa actual.' }}
  </h2>

  <p class="mt-2 text-lg max-w-30rem">
    {{ cobertura ? 'Contamos con cobertura en tu zona.' : 'Es posible que estés cerca de una zona con señal. ¿Te gustaría hablar con un asesor para confirmar?' }}
  </p>
  <button pButton type="submit" [disabled]="progreso" (click)="router.navigate(['/planes'])"
  label="Ver planes" style="background-color: #0ea5e9;" *ngIf="cobertura"></button>
  <p-button
    icon="pi pi-whatsapp"
    *ngIf="!cobertura"
        label="Enviar Mensaje"
        class="p-button-primary">
  </p-button>

</div>

</div>
