<div class="content2 mt-5 mb-5">
    <div class="content text-center" pAnimateOnScroll enterClass="zoomindown animation-duration-1000">
      <h1 class="text-4xl line-height-1 sm:text-5xl font-bold border titulos" >Planes diseñados para tu hogar</h1>
    </div>
    <div class="mt-6"  pAnimateOnScroll enterClass="zoomin animation-duration-1000">
      <p-carousel [value]="planes" [numVisible]="4" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-plan pTemplate="item">
          <div class="border-1 surface-border border-round border-round-3xl m-2 text-white overflow-hidden shadow-5">
            <div class="plan-header p-4">
              <h2 class="text-3xl font-bold mb-2">{{ plan.nombre }}</h2>
              <p class="text-2xl font-bold">{{ plan.precio | currency:'':'symbol':'1.0-0' }}<span class="text-base font-normal"> / al mes</span></p>
            </div>
            <div class="pl-4 pr-4">
              <h4 class="text-sm font-semibold text-gray-700 mb-4">Características del plan</h4>
              <div class="grid text-sm text-gray-800" *ngFor="let caracteristica of plan.caracteristicas">
                <div class="col-12 flex justify-content-between mb-2 border-bottom-1 border-gray-200 pb-1">
                    <span><i class="pi pi-check-circle text-green-500 mr-2"></i> {{ caracteristica.detalle }}</span>
                </div>
            </div>
          </div>
            <!-- <div class="p-4">  Esto es para mostrar los codigo de IFT
              <span class="text-xs font-medium text-gray-600">Código IFT:</span><br />
              <span class="text-sm font-semibold text-gray-800 cursor-pointer hover:text-cyan-700" (click)="colocarRuta(plan.codigoIFT)">{{ plan.codigoIFT }}</span>
            </div> -->
            <div class="pl-4 pr-4 pb-4 mt-5">
              <button pButton type="button" label="Contratar ahora" class=" w-full p-button-rounded p-button-contratar" (click)="formularioContrata(plan)"></button>
            </div>
          </div>
        </ng-template>
    </p-carousel>
    </div>
</div>
<div class="contrata-hogar">
  <div class="grid content">
    <div class="col-12 md:col-6 info-hogar flex flex-column justify-content-center text-center text-white md:flex-order-2">

    </div>
    <div class="col-12 md:col-6 info-hogar flex flex-column justify-content-center text-center text-white md:flex-order-1 lg:p-7" pAnimateOnScroll enterClass="zoominup animation-duration-2000">
      <h1 class="m-0 line-height-1 mb-2 font-bold">!Contrata tu paquete de internet!</h1>
          <p class="mt-0 mb-6">Rápido, fácil y sin complicaciones. Elige cómo prefieres contactarnos y comienza a disfrutar de nuestro servicio.</p>
          <div class="flex justify-content-around">
            <button class="p-button p-component p-button-primary flex align-items-center gap-2" (click)="enviarMensajeService.enviarMensaje('Hola buen día, me gustaria contratar su servicio', '7131334557')">
              <i class="pi pi-whatsapp text-xl"></i>
                <span>Enviar mensaje</span>
            </button>
            <button class="p-button p-component p-button-contratar flex align-items-center gap-2" (click)="enviarMensajeService.llamar('8002049900')">
              <i class="pi pi-phone text-xl"></i>
              <span>Llámanos</span>
            </button>
          </div>
    </div>
  </div>
</div>

<div class="surface-100 text-gray-800 content mt-6 grid">
  <div class="col-12 md:col-6 p-0" pAnimateOnScroll enterClass="flipleft animation-duration-2000">
    <img src="assets/principal/negocios.jpg" alt="Internet para negocios" style="object-fit: contain; max-width: 100%; height: auto;"/>
  </div>
  <div class="col-12 md:col-6 p-5 md:flex md:flex-column md:justify-content-center" pAnimateOnScroll enterClass="zoominup animation-duration-2000">
    <h2 class="text-3xl md:text-4xl font-bold mb-3 text-cyan-700 text-center md:text-left line-height-1">Soluciones empresariales a tu medida</h2>
    <p class="text-lg mb-5 text-center md:text-justify line-height-1">
      Conectividad profesional, atención dedicada y planes adaptados a las necesidades de tu empresa.
    </p>
    <div class="flex gap-3 justify-content-center md:justify-content-start">
      <!-- <p-button
        label="Más información"
        icon="pi pi-info-circle"
        severity="secondary">
      </p-button> -->
      <p-button
        (click)="formularioInformacion()"
        label="Más información"
        icon="pi pi-info-circle"
        class="p-button-primary">
      </p-button>
    </div>
  </div>
</div>
<p-dialog header="" [(visible)]="iftPlanes" [modal]="true" [style]="{ width: '80vw', height: '90vh' }"
 [breakpoints]="{ '960px': '100vw' }" [contentStyle]="{ overflow: 'hidden' }" *ngIf="rutaPdfPlan" [maximizable]="true">
  <ng-template #header>
    <h2 class="subtitulos text-2xl line-height-1 font-bold border">IPTVTEL COMUNICACIONES S. DE R.L. DE C.V. IFT-{{ codigoSelect }}</h2>
  </ng-template>
  <ng-container *ngIf="rutaPdfPlan && !errorPdf; else errorContent">
    <iframe
      [src]="rutaPdfPlan"
      width="100%"
      height="90%"
      style="border: none;">
    </iframe>
  </ng-container>
  <ng-template #errorContent>
    <div class=" flex align-items-center justify-content-center p-5 text-red-600 font-semibold text-3xl" style="width: 100%;height: 90%;">
      No se encontró el archivo del plan IFT.
    </div>
  </ng-template>
  <div class="flex justify-content-end gap-5 pt-2">
      <p-button label="Cerrar" (click)="iftPlanes = false" severity="secondary"/>
      <p-button label="Página IFT" (click)="paginaIFT()" />
  </div>
</p-dialog>

<p-dialog [(visible)]="modalContrata" [modal]="true" [style]="{ width: 'vw' }"
 [breakpoints]="{ '768px': '100vw' }">
  <ng-template #header>
    <h2 class="subtitulos text-2xl line-height-1 font-bold border">Ingresa tu información</h2>
  </ng-template>
  <ng-container>
    <div>
    <p-stepper [(value)]="activeStep" class="basis-[50rem]" [linear]="true">
        <p-step-list>
            <p-step [value]="1">Domicilio</p-step>
            <p-step [value]="2">Datos personales</p-step>
            <p-step [value]="3">Resumen</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                  <form [formGroup]="formContrato">
                  <div class="flex flex-co h-48 justify-content-center" formGroupName="domicilio">
                    <div class="pl-4 pr-4 w-full md:w-40rem mx-auto">
                      <!-- <h2 class="text-2xl font-bold mb-4 text-center text-900">Dirección</h2> -->
                      <div class="flex flex-column ">
                        <div class="field mb-4">
                          <!-- <label for="codigoPostal" class="block text-900 font-medium mb-1">Código Postal*</label>
                          <p-inputmask mask="99999" placeholder="99999" size="small" class="w-full" formControlName="codigoPostal" id="codigoPostal" styleClass="w-full"/> -->
                          <p-floatlabel variant="on">
                            <p-inputmask mask="99999" size="small" formControlName="codigoPostal" id="codigoPostal" styleClass="w-full"/>
                            <label for="codigoPostal">Código postal*</label>
                          </p-floatlabel>
                          <span class="text-xs text-red-600"
                          *ngIf="formContrato.get('domicilio.codigoPostal')?.invalid && (formContrato.get('domicilio.codigoPostal')?.touched || formContrato.get('domicilio.codigoPostal')?.dirty)">
                            Ingresa un código postal válido.
                          </span>
                        </div>
                        <div class="field mb-4">
                          <p-floatlabel variant="on">
                            <label for="colonia">Colonia*</label>
                            <input id="colonia" pInputText type="text" pSize="small" class="w-full" formControlName="colonia"/>
                          </p-floatlabel>

                          <span class="text-xs text-red-600"
                            *ngIf="formContrato.get('domicilio.colonia')?.invalid && (formContrato.get('domicilio.colonia')?.touched || formContrato.get('domicilio.colonia')?.dirty)">
                            <ng-container *ngIf="formContrato.get('domicilio.colonia')?.errors?.['required']">
                            El campo es requerido.
                            </ng-container>
                            <ng-container *ngIf="formContrato.get('domicilio.colonia')?.errors?.['maxlength']">
                              La colonia no puede tener más de 150 caracteres.
                            </ng-container>
                          </span>
                        </div>
                        <div class="field mb-4">
                          <p-floatlabel variant="on">
                            <label for="calle">Calle*</label>
                            <input id="calle" pInputText type="text" pSize="small" class="w-full" formControlName="calle"/>
                          </p-floatlabel>

                          <span class="text-xs text-red-600"
                            *ngIf="formContrato.get('domicilio.calle')?.invalid && (formContrato.get('domicilio.calle')?.touched || formContrato.get('domicilio.calle')?.dirty)">
                            <ng-container *ngIf="formContrato.get('domicilio.calle')?.errors?.['required']">
                            El campo es requerido.
                            </ng-container>
                            <ng-container *ngIf="formContrato.get('domicilio.calle')?.errors?.['maxlength']">
                            La calle no puede tener más de 150 caracteres.
                            </ng-container>
                          </span>
                        </div>
                        <div class="field mb-4">
                          <p-floatlabel variant="on">
                            <label for="numeroExterior">Número Exterior</label>
                            <input id="numeroExterior" pInputText type="text" pSize="small" class="w-full" formControlName="numeroExterior"/>
                          </p-floatlabel>
                        </div>
                        <div class="field mb-4">
                          <p-floatlabel variant="on">
                            <label for="municipio">Municipio*</label>
                            <input id="municipio" pInputText type="text" pSize="small" class="w-full" formControlName="municipio"/>
                          </p-floatlabel>

                          <span class="text-xs text-red-600"
                            *ngIf="formContrato.get('domicilio.municipio')?.invalid && (formContrato.get('domicilio.municipio')?.touched || formContrato.get('domicilio.municipio')?.dirty)">
                            <ng-container *ngIf="formContrato.get('domicilio.municipio')?.errors?.['required']">
                            El campo es requerido.
                            </ng-container>
                            <ng-container *ngIf="formContrato.get('domicilio.municipio')?.errors?.['maxlength']">
                            El municipio no puede tener más de 150 caracteres.
                            </ng-container>
                          </span>
                        </div>
                        <div class="field mb-4">
                          <p-floatlabel variant="on">
                            <label for="municipio">Referencias cerca de tu domicilio y características*</label>
                            <textarea rows="2" cols="30" formControlName="referencias"
                            pTextarea  class="w-full" ></textarea>
                          </p-floatlabel>

                          <span class="text-xs text-red-600"
                            *ngIf="formContrato.get('domicilio.referencias')?.invalid && (formContrato.get('domicilio.referencias')?.touched || formContrato.get('domicilio.referencias')?.dirty)">
                            <ng-container *ngIf="formContrato.get('domicilio.referencias')?.errors?.['required']">
                            El campo es requerido.
                            </ng-container>
                            <ng-container *ngIf="formContrato.get('domicilio.referencias')?.errors?.['minlength']">
                            Las referencias deben tener minimo 25 caracteres.
                            </ng-container>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>
                  <div class="flex justify-content-end mt-3">
                      <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" severity="info" (onClick)="activateCallback(2)" styleClass="p-button-contratar"
                      [disabled]="formContrato.get('domicilio')?.invalid"/>
                  </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                  <form [formGroup]="formContrato">
                  <div class="flex flex-co h-48 justify-content-center" formGroupName="datosPersonales">
                    <div class="pl-4 pr-4 w-full md:w-30rem mx-auto">
                      <!-- <h2 class="text-2xl font-bold mb-4 text-center text-900">Información de contacto</h2> -->
                      <div class="flex flex-column ">
                        <div class="field mb-4">
                          <p-floatlabel variant="on">
                            <label for="nombre">Nombre Completo*</label>
                            <input id="nombre" pInputText type="text" pSize="small" class="w-full" formControlName="nombre" autocomplete="off"/>
                          </p-floatlabel>
                          <span class="text-xs text-red-600"
                            *ngIf="formContrato.get('datosPersonales.nombre')?.invalid && (formContrato.get('datosPersonales.nombre')?.touched || formContrato.get('datosPersonales.nombre')?.dirty)">
                            <ng-container *ngIf="formContrato.get('datosPersonales.nombre')?.errors?.['required']">
                           El campo es requerido.
                            </ng-container>
                            <ng-container *ngIf="formContrato.get('datosPersonales.nombre')?.errors?.['maxlength']">
                            El Nombre no puede tener más de 150 caracteres.
                            </ng-container>
                            <ng-container *ngIf="formContrato.get('datosPersonales.nombre')?.errors?.['minlength']">
                            El nombre deben tener minimo 5 caracteres.
                            </ng-container>
                          </span>
                        </div>
                        <div class="field mb-4">
                          <p-floatlabel variant="on">
                            <label for="correo">Correo electrónico*</label>
                            <input id="correo" pInputText type="text" pSize="small" class="w-full" formControlName="correo" autocomplete="off"/>
                          </p-floatlabel>

                          <span class="text-xs text-red-600"
                            *ngIf="formContrato.get('datosPersonales.correo')?.invalid && (formContrato.get('datosPersonales.correo')?.touched || formContrato.get('datosPersonales.correo')?.dirty)">
                            <ng-container *ngIf="formContrato.get('datosPersonales.correo')?.errors?.['required']">
                           El campo es requerido.
                            </ng-container>
                            <ng-container *ngIf="formContrato.get('datosPersonales.correo')?.errors?.['email']">
                            El correo no es válido.
                            </ng-container>
                          </span>
                        </div>
                        <div class="field mb-4">
                          <p-floatlabel variant="on">
                            <p-inputmask mask="999 999 9999" size="small" class="w-full" formControlName="telefono" styleClass="w-full" id="telefono"/>
                            <label for="telefono">Teléfono*</label>
                          </p-floatlabel>
                          <span class="text-xs text-red-600"
                            *ngIf="formContrato.get('datosPersonales.telefono')?.invalid && (formContrato.get('datosPersonales.telefono')?.touched || formContrato.get('datosPersonales.telefono')?.dirty)">
                            <ng-container *ngIf="formContrato.get('datosPersonales.telefono')?.errors?.['required']">
                            El campo es requerido.
                            </ng-container>
                          </span>
                        </div>
                        <div class="field mb-4">
                          <p-floatlabel variant="on">
                            <p-inputmask mask="999 999 9999" size="small" class="w-full" formControlName="telefono2" styleClass="w-full" id="telefono2"/>
                             <label for="telefono2">Teléfono alternativo</label>
                          </p-floatlabel>
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>
                  <div class="flex justify-content-evenly mt-3">
                      <p-button label="Anterior" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)" />
                      <p-button label="Siguiente" icon="pi pi-arrow-right" iconPos="right" severity="info" (onClick)="activateCallback(3)" styleClass="p-button-contratar"
                      [disabled]="formContrato.get('datosPersonales')?.invalid"/>
                  </div>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex flex-col h-48 justify-content-center" >
                       <div class="grid w-full">
                        <div class="col-12 md:col-4" *ngIf="formContrato.get('plan.clave')?.value">
                          <div class="border-1 surface-border border-round border-round-3xl m-2 text-white overflow-hidden shadow-5">
                            <div class="plan-header p-4">
                              <h2 class="text-3xl font-bold mb-2">{{  formContrato.get('plan.nombre')?.value }}</h2>
                              <p class="text-2xl font-bold">{{ formContrato.get('plan.precio')?.value | currency:'':'symbol':'1.0-0' }}<span class="text-base font-normal"> / al mes</span></p>
                            </div>
                            <div class=" mt-2 flex justify-content-center gap-2 py-2 text-blue-800 font-medium text-sm">
                              <i class="pi pi-check-circle text-green-500"></i>
                              <span>Plan seleccionado</span>
                            </div>
                            <!-- Características del plan -->
                            <div class="p-4 pt-2 border-top-1 border-gray-300">
                              <h4 class="text-md font-semibold text-900 mb-2 mt-2">Condiciones</h4>
                              <ul class="pl-0 m-0 text-xs text-bluegray-700 ">
                                <li><strong>Costo base de instalación:</strong> $500. Puede variar según la distancia de la caja más cercana a tu domicilio.</li>
                                <li><strong>Pago inicial:</strong> Incluye el costo de instalación y la primera mensualidad.</li>
                                <li><strong>Equipos en comodato:</strong> Te prestamos el equipo sin costo adicional mientras mantengas el servicio activo.</li>
                                <!-- <li><strong>Sin contrato forzoso:</strong> Cancela en cualquier momento sin penalización.</li> -->
                                <li><strong>Plan residencial:</strong> Sujeto a política de uso justo.</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div [ngClass]="formContrato.get('plan.clave')?.value ? 'col-12 md:col-8' : 'col-12'">
                          <div class="border-round p-4 m-2 shadow-3">
                            <h3 class="text-xl font-bold text-900 mb-2">Resumen de información</h3>
                            <div class="grid mb-2">
                              <div class="col-12">
                                <p class="text-sm text-500 font-semibold m-0">Nombre</p>
                                <p class="text-base text-900 font-medium m-0">{{ formContrato.get('datosPersonales.nombre')?.value }}</p>
                              </div>
                              <div class="col-12 md:col-6">
                                <p class="text-sm text-500 font-semibold m-0">Correo</p>
                                <p class="text-base text-900 font-medium m-0">{{ formContrato.get('datosPersonales.correo')?.value }}</p>
                              </div>
                              <div class="col-12 md:col-6">
                                <p class="text-sm text-500 font-semibold m-0">Teléfono</p>
                                <p class="text-base text-900 font-medium m-0">{{ formContrato.get('datosPersonales.telefono')?.value }}</p>
                              </div>
                            <div class="col-12 md:col-6">
                              <p class="text-sm text-500 font-semibold m-0">Código Postal</p>
                              <p class="text-base text-900 font-medium m-0">{{ formContrato.get('domicilio.codigoPostal')?.value }}</p>
                            </div>
                            <div class="col-12 md:col-6">
                              <p class="text-sm text-500 font-semibold m-0">Calle</p>
                              <p class="text-base text-900 font-medium m-0">{{ formContrato.get('domicilio.calle')?.value }} {{ formContrato.get('domicilio.numeroExterior')?.value }}</p>
                            </div>
                            <div class="col-12 md:col-6">
                              <p class="text-sm text-500 font-semibold m-0">Municipio</p>
                              <p class="text-base text-900 font-medium m-0">{{ formContrato.get('domicilio.municipio')?.value }}</p>
                            </div>
                            <div class="col-12 md:col-6">
                              <p class="text-sm text-500 font-semibold m-0">Características y referencias</p>
                              <p class="text-base text-900 font-medium m-0">{{ formContrato.get('domicilio.referencias')?.value }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                       </div>
                    </div>
                    <div class="flex justify-content-evenly mt-3">
                        <p-button label="Anterior" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(2)" />
                        <form [formGroup]="formContrato" (ngSubmit)="confirmaSolicitud($event)">
                          <p-button label="Enviar" type="submit" icon="pi pi-send" iconPos="right" />
                        </form>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>
  </ng-container>
</p-dialog>

<p-confirmdialog />


<p-dialog header="" [(visible)]="modalEnviado" [modal]="true"
 [contentStyle]="{ overflow: 'hidden' }" *ngIf="modalEnviado">
  <ng-template #header>
    <!-- <h2 class="subtitulos text-2xl line-height-1 font-bold border">Solicitud enviada</h2> -->
  </ng-template>
  <ng-container>
    <div class="flex flex-column justify-content-center align-items-center">
      <i class="pi pi-check-circle text-green-500" style="font-size: 3rem;"></i>
      <p class="mt-2 text-lg max-w-30rem text-center">
        Tu solicitud fue enviada con éxito. Uno de nuestros asesores se pondrá en contacto contigo a la brevedad.
      </p>
    </div>

  </ng-container>
</p-dialog>
