<div class="flex flex-column justify-content-center align-items-center  text-center mt-5 h-screen">
  <div class="p-6 surface-card border-round shadow-5 w-full md:w-30rem mx-3">
    <i class="pi pi-exclamation-triangle text-yellow-500 text-6xl mb-3"></i>
    <h1 class="text-4xl font-bold text-900 mb-2">404</h1>
    <h2 class="text-2xl text-blue-600 font-semibold mb-2">Página no encontrada</h2>
    <p class="text-sm text-600 mb-4">
      La página que estás buscando no existe o ha sido movida.
    </p>
    <button
      pButton
      label="Regresar al inicio"
      icon="pi pi-home"
      class="p-button-rounded p-button-info w-full"
      routerLink="/"
    ></button>
  </div>
</div>
