<div class="content mt-5">
  <div class="content text-center" pAnimateOnScroll enterClass="zoomindown animation-duration-1000">
      <h1 class="text-4xl line-height-1 sm:text-5xl font-bold border titulos" >Conoce las formas de pagar tu servicio</h1>
    </div>
  <div class="forma-pago grid">
    <div class="col-4 bg-teal-600 flex align-items-center justify-content-center border-round-left">
      Sucursales
    </div>
    <div class="col-8">
      <div class="sucursal">
        <h2><i class="pi pi-map-marker" style="font-size: 2rem"></i>Santiago tianguistenco</h2>
        <p>Av. independencial</p>
      </div>
      <div class="sucursal">
        <h2><i class="pi pi-map-marker" style="font-size: 2rem"></i> Santa monica</h2>
        <p>Av. independencial</p>
      </div>
      <div class="sucursal">
        <h2><i class="pi pi-map-marker" style="font-size: 2rem"></i>San pedro cholula</h2>
        <p>Av. independencial</p>
      </div>
    </div>
  </div>
  <div class="forma-pago grid">
    <div class="col-8">
      <div class="sucursal">
        <h2><i class="pi pi-map-marker" style="font-size: 2rem"></i>HSBC</h2>
      </div>
      <div class="sucursal">
        <h2><i class="pi pi-map-marker" style="font-size: 2rem"></i> no se que mas</h2>
        <p>Av. independencial</p>
      </div>
      <div class="sucursal">
        <h2><i class="pi pi-map-marker" style="font-size: 2rem"></i>Menos se</h2>
      </div>
    </div>
    <div class="col-4 bg-teal-600 flex align-items-center justify-content-center border-round-left">
      Transferencia
    </div>
  </div>
  <div class="forma-pago grid">
    <div class="col-4 bg-teal-600 flex align-items-center justify-content-center border-round-left">
      Otros, depositos o open mpay
    </div>
    <div class="col-8">
      <div class="sucursal">
        <h2><i class="pi pi-map-marker" style="font-size: 2rem"></i>OXXO</h2>
      </div>
      <div class="sucursal">
        <h2><i class="pi pi-map-marker" style="font-size: 2rem"></i> Farmacias del ahorro</h2>
      </div>
      <div class="sucursal">
        <h2><i class="pi pi-map-marker" style="font-size: 2rem"></i> Financiera para el bienestar</h2>
      </div>
    </div>

  </div>
</div>
