
<div class="grid p-5 mt-1">
  <div class="col-12 md:col-6 flex flex-column justify-content-center p-5">
    <div class="inline-flex align-items-center bg-blue-100 text-blue-700 font-semibold px-3 py-1 border-round-2xl mb-1 uppercase text-xs tracking-wider w-max animate-fadein">
        <i class="pi pi-bolt mr-2 text-sm"></i> ¡Nuevo!
    </div>
    <h1 class="text-4xl md:text-6xl font-black text-900 line-height-1 m-0 mb-3">
        emenet mobile: Conoce nuestra nueva <span class="text-blue-600 bg-clip-text">conexión</span>
    </h1>

    <p class="text-lg text-600 line-height-3 m-0 mb-4 text-justify">
        Nueva compañía de telefonía móvil en México. Respaldados por la potencia de
        <strong class="text-900">Altán Redes</strong>, operamos como un operador móvil virtual de la red compartida.
        Disfruta de cobertura nacional absoluta con acceso inmediato a la red de voz y datos
        <span class="font-bold text-blue-600">4.5G LTE</span>.
    </p>

    <div class="flex flex-column gap-3 mb-5">
        <div class="flex align-items-center gap-3">
            <i class="pi pi-check-circle text-green-500 mr-1"></i>
            <span class="text-700 font-medium text-lg">Tarifas altamente atractivas y competitivas</span>
        </div>
        <div class="flex align-items-center gap-3">
            <i class="pi pi-check-circle text-green-500 mr-1"></i>
            <span class="text-700 font-medium text-lg">Cobertura de telefonía e internet en todo el país</span>
        </div>
    </div>
</div>


  <div class="col-12 md:col-6 flex flex-column justify-content-center align-items-center">
    <div pAnimateOnScroll
         enterClass="scalein animation-duration-1000"
         class="relative w-full max-w-30rem flex justify-content-center align-items-center bg-radial-gradient"
         style="height: 460px;">
        <div class="absolute border-circle bg-blue-100 text-blue-700 flex justify-content-center align-items-center shadow-3 select-none transition-transform duration-300 hover:scale-110"
             style="width: 140px; height: 140px; z-index: 2; border: 4px solid #3b82f6;">
            <div class="flex flex-column align-items-center gap-1">
                <i class="pi pi-mobile text-5xl"></i>
                <span class="text-xs font-bold text-blue-900 tracking-wide">emenet mobile</span>
            </div>
        </div>

        <div class="absolute border-circle border-1 border-blue-200 opacity-50 ping-aoe" style="width: 240px; height: 240px; z-index: 1;"></div>
        <div class="absolute border-circle border-1 border-blue-100 opacity-20 ping-aoe" style="width: 340px; height: 340px; z-index: 1; animation-delay: 1.2s;"></div>


        <div class="absolute z-3 shadow-5 border-circle flex justify-content-center align-items-center bg-gray-900 w-2rem h-2rem floating-bubble bubble-delay-1"
             style="top: 8%; left: 16%;">
            <i class="pi pi-tiktok text-xl text-white"></i>
        </div>

        <div class="absolute z-3 shadow-5 border-circle flex justify-content-center align-items-center bg-yellow-300 w-3rem h-3rem floating-bubble bubble-delay-5"
             style="top: 5%; right: 35%; border: 2px solid #FFF;">
            <i class="pi pi-bell text-xl text-white"></i>
        </div>

        <div class="absolute z-3 shadow-5 border-circle flex justify-content-center align-items-center bg-red w-3rem h-3rem floating-bubble bubble-delay-4"
             style="top: 15%; right: 12%; border: 2px solid #FF0000;">
            <i class="pi pi-youtube text-xl text-red-600"></i>
        </div>

        <div class="absolute z-3 shadow-5 border-circle flex justify-content-center align-items-center bg-white w-4rem h-4rem floating-bubble bubble-delay-2"
             style="top: 38%; left: 3%; border: 2px solid #E1306C;">
            <i class="pi pi-instagram text-2xl text-pink-600"></i>
        </div>

        <div class="absolute z-3 shadow-5 border-circle flex justify-content-center align-items-center bg-blue-600 w-4rem h-4rem floating-bubble bubble-delay-3"
             style="top: 45%; right: 3%;">
            <i class="pi pi-facebook text-2xl text-white"></i>
        </div>

        <div class="absolute z-3 shadow-5 border-circle flex justify-content-center align-items-center bg-green-500 w-4rem h-4rem floating-bubble bubble-delay-6"
             style="bottom: 22%; left: 10%">
            <i class="pi pi-whatsapp text-2xl text-white"></i>
        </div>

        <div class="absolute z-3 shadow-5 border-circle flex justify-content-center align-items-center w-3rem h-3rem floating-bubble bubble-delay-2" st
             style="bottom: 6%; left: 38%; border: 2px solid #239dd8;background-color: #239dd8;">
            <i class="pi pi-telegram text-xl" style="color: white;"></i>
        </div>

        <div class="absolute z-3 shadow-5 border-circle flex justify-content-center align-items-center bg-black-alpha-90 w-2rem h-2rem floating-bubble bubble-delay-7"
             style="bottom: 18%; right: 16%;">
            <i class="pi pi-times text-xl text-white"></i>
        </div>

    </div>

    <div class="w-full max-w-30rem px-4 mt-2">
        <p class="text-normal font-semibold text-blue-600 hover:text-blue-900 cursor-pointer italic pl-2 m-0 transition-all duration-200 text-center"
        (click)="abrirMobile()">
            Conoce más sobre nuestro servicio <i class="pi pi-arrow-right text-xs ml-1"></i>
        </p>
    </div>

  </div>
</div>
