
<div class="carrousel-banners" >
<p-carousel [value]="banners" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000">
  <ng-template let-banner pTemplate="item">
    <div
      class="banner mb-6"
      [ngStyle]="{
        'background-image': 'url(' + banner.image + ')',
      }"
    >
      <div class="content flex flex-column h-full text-white justify-content-center px-4 md:px-6 lg:px-8 md:grid "
           [ngClass]="{
             'align-items-center text-center': true,
             'md:align-items-start md:text-left': true
           }">
           <div class="sm:col-8">
              <h1 class="text-3xl md:text-5xl font-bold mb-2" pAnimateOnScroll enterClass="fadeinup animation-duration-2000">{{ banner.title }}</h1>
              <p class="text-lg md:text-xl mt-0 mb-4" pAnimateOnScroll enterClass="fadeinup animation-duration-2000">{{ banner.description }}</p>
              <div class="flex gap-3 flex-wrap justify-content-center md:justify-content-start" pAnimateOnScroll enterClass="fadeinup animation-duration-2000">
                <button class="p-button p-component p-button-contratar p-button-rounded" (click)="verCobertura()">
                  <span>Ver cobertura</span>
                </button>
                <button class="p-button p-component p-button-rounded p-button-outlined p-button-text p-button-raised" (click)="router.navigate(['/planes'])">
                  <span>Ver planes</span>
                </button>
              </div>
          </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
</div>
<app-mapa-cobertura ></app-mapa-cobertura>
