<!-- <div class="main-wrapper-emenet">
  <div class="network-background"></div> -->

<div class="main-home-container">
<div class="carrousel-banners" >
<p-carousel [value]="banners" [numVisible]="1" [numScroll]="1" [circular]="true" >
  <ng-template let-banner pTemplate="item">
    <div
      class="banner mb-6"
      [ngStyle]="{
        'background-image': 'url(' + banner.image + ')',
      }"
    >
      <div class="content flex flex-column h-full text-white justify-content-center px-4 md:px-6 lg:px-8 md:grid "
           [ngClass]="{
             'align-items-center text-center': true,
             'md:align-items-start md:text-left': true
           }">
           <div class="sm:col-8">
              <h1 class="text-3xl md:text-5xl font-bold mb-2" pAnimateOnScroll enterClass="fadeinup animation-duration-2000">{{ banner.title }}</h1>
              <p class="text-lg md:text-xl mt-0 mb-4" pAnimateOnScroll enterClass="fadeinup animation-duration-2000">{{ banner.description }}</p>
              <div class="flex gap-3 flex-wrap justify-content-center md:justify-content-start" pAnimateOnScroll enterClass="fadeinup animation-duration-2000">
                <button class="p-button p-component p-button-contratar p-button-rounded" (click)="verCobertura()">
                  <span>Ver cobertura</span>
                </button>
                <button class="p-button p-component p-button-rounded p-button-outlined p-button-text p-button-raised" (click)="this.utilidades.rutaPlanes();">
                  <span>Ver planes</span>
                </button>
              </div>
          </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
</div>
<app-mapa-cobertura></app-mapa-cobertura>
</div>


<div class="p-4 mt-4">
  <h2 class="text-2xl font-bold mb-2 text-cyan-700 color-texto-blue mt-0 text-center" pAnimateOnScroll enterClass="fadeinup animation-duration-1000">Lo que dicen nuestros clientes</h2>
  <div pAnimateOnScroll enterClass="flipleft animation-duration-1000">
  <p-carousel
    [value]="testimonios"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
    >
<!-- autoplayInterval="4000" -->
    <ng-template let-testimonio pTemplate="item">
      <div class="surface-card p-4 m-2 shadow-2 border-round-xl h-full flex flex-column justify-content-between transition-transform transition-duration-300 hover:scale-105
      mb-3">

        <div>
          <div class="flex align-items-center mb-3">
            <!-- Avatar con tus colores de marca -->
            <div class="w-3rem h-3rem bg-blue-100 border-circle flex align-items-center justify-content-center mr-3">
              <i class="pi pi-user text-blue-600"></i>
            </div>

            <div class="flex flex-column">
              <span class="text-900 font-bold">{{ testimonio.nombre }}</span>
              <!-- Componente Rating Readonly -->
              <p-rating [(ngModel)]="testimonio.rating" [readonly]="true" class="custom-stars"></p-rating>
            </div>
          </div>

          <p class="m-0 line-height-3 text-700 italic text-sm">
            "{{ testimonio.comentario }}"
          </p>
        </div>

        <div class="mt-4 pt-3 border-top-1 border-100 flex justify-content-between align-items-center">
          <div class="flex align-items-center gap-2">
            <span class="text-xs font-bold text-blue-600 uppercase">Reseña </span> <i class="pi pi-google text-blue-600"></i>
          </div>
          <!-- <span class="text-xs font-bold text-blue-600 uppercase">Reseña de <i class="pi pi-google text-blue-600"></i> {{ testimonio.tipo }}</span> -->
          <i class="pi pi-verified text-green-500" title="Cliente verificado"></i>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  </div>
</div>
<!-- <section class="seccion-conectividad">
  <div class="fibra-line" style="left: 10%; top: 5%;"></div>
  <div class="fibra-line" style="right: 15%; top: 20%;"></div>
  <app-mapa-cobertura></app-mapa-cobertura>
</section> -->
